// tooltip
$tooltip-bg: palette(grey, 100);
$tooltip-color: palette(white);
$tooltip-font-size: 14px;
$tooltip-triangle-size: 7px;
$tooltip-border-radius: $border-radius-s;

%tooltip {
  position: absolute;
  margin: auto;
  max-width: 266px;
  overflow-wrap: break-word;
  pointer-events: none;
  z-index: 2;
  white-space: nowrap;
  padding: $base-space $base-space*2;
  transform: none;
  background: $tooltip-bg;
  color: $tooltip-color;
  border-radius: $tooltip-border-radius;
  @include font-size($tooltip-font-size);
  font-family: $ff;
  font-weight: 600;
}
%has-tooltip--left {
  @extend %has-tooltip;
  &:after {
    top: 50%;
    transform: translateY(-50%);
    right: calc(100% + 10px);
  }
  &:before {
    right: calc(100% + $tooltip-triangle-size/2);
    top: 50%;
    transform: translateY(-50%);
    @include triangle(right, $tooltip-triangle-size, $tooltip-triangle-size, $tooltip-bg);
  }
}
%has-tooltip--bottom {
  @extend %has-tooltip;
  &:after {
    top: calc(100% + 20px);
    right: 50%;
    transform: translateX(50%);
  }
  &:before {
    right: calc(50% - $tooltip-triangle-size/2);
    top: $tooltip-triangle-size*2;
    @include triangle(top, $tooltip-triangle-size, $tooltip-triangle-size, $tooltip-bg);
  }
}
%has-tooltip--top {
  @extend %has-tooltip;
  &:after {
    bottom: calc(100% + 10px);
    right: 50%;
    transform: translateX(50%);
  }
  &:before {
    right: calc(50% - $tooltip-triangle-size);
    top: -10px;
    @include triangle(bottom, $tooltip-triangle-size, $tooltip-triangle-size, $tooltip-bg);
  }
}
%tooltip-large-text {
  &:after {
    min-width: 216px;
    white-space: break-spaces;
    text-align: left;
    line-height: 1.4em;
  }
}
%has-tooltip {
  &:after {
    content: attr(data-title);
    @extend %tooltip;
    opacity: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 0; 
    height: 0; 
    opacity: 0;
    pointer-events: none;
  }
  &:hover{
    &:after {
      width: auto;
      height: auto;
      opacity: 1;
      transition: opacity 0.1s ease 0.2s;
      z-index: 2;
    }
    &:before {
      opacity: 1;
      transition: opacity 0.1s ease 0.2s;
    }
  }
}