# Ignore everything
**

# Distribution packages
!dist/*.whl

# Scripts
!docker/scripts/start_argilla_server.sh
!docker/scripts/wait-for-it.sh
!docker/scripts/start_quickstart_argilla.sh
!docker/scripts/load_data.py

# Package dependencies
!docker/quickstart.requirements.txt
