sphinx==4.1.2
sphinx_rtd_theme==0.5.2
myst-parser==0.16.1
nbsphinx==0.8.7
sphinxext.opengraph==0.4.2
pre-commit==2.15.0
cleanlab
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
flair==0.10
flyingsquid
pgmpy
plotly>=4.1.0
snorkel>=0.9.7
spacy==3.1.0
transformers[torch]
-e .[server]