name: rubrix

channels:
  - conda-forge

dependencies:
  - python~=3.8.0
  - pip>=20.3.0
  # pyparsing 3.0.5 seems to be buggy
  - pyparsing!=3.0.5
  # tests
  - pytest
  - pytest-cov
  - pytest-mock
  - pytest-asyncio
  # docs, pandoc needs conda ...
  - pandoc==2.12
  # we need this to ensure syntax highlighting in the notebook code cells for the docs
  - ipython<8.0.0
  # for building the frontend
  - nodejs~=14.17.0
  - pip:
      # docs
      - sphinx==4.1.2
      - sphinx-design==0.1.0
      - sphinx_rtd_theme==0.5.2
      - myst-parser==0.16.1
      - nbsphinx==0.8.7
      - nbformat<5.2.0 # Installs ipython-genutils, with a new version (>0.8.8) of nbsphinx this can probably go away.
      - sphinxext.opengraph==0.4.2
      # code formatting
      - pre-commit==2.15.0
      # extra test dependencies
      - cleanlab
      - datasets>1.17.0,<2.3.0  # TODO: push_to_hub fails up to 2.3.2, check patches when they come out eventually
      - huggingface_hub != 0.5.0 # some backward comp. problems introduced in 0.5.0
      - https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
      - flair==0.10
      - faiss-cpu
      - flyingsquid
      - pgmpy
      - plotly>=4.1.0
      - snorkel>=0.9.7
      - spacy==3.1.0
      - transformers[torch]~=4.18.0
      - loguru
      # install Rubrix in editable mode
      - -e .[server]
