name: rubrix

channels:
- conda-forge

dependencies:
- python~=3.8.0
- pip>=20.3.0
# tests
- pytest
# docs
- sphinx==4.0.1
- sphinx_rtd_theme==0.5.2
- nbsphinx==0.8.5
- pandoc==2.12
# we need this to ensure syntax highlighting in the notebook code cells for the docs
- ipython
# for building the frontend
- nodejs~=14.15.0
- pip:
    # build python sdk
    - openapi-python-client~=0.8.0
    # install rubrix in editable mode
    - -e .[server]