name: argilla

channels:
  - conda-forge

dependencies:
  - python~=3.7.0
  - pip>=20.3.0
  - openjdk=11
  # pyparsing 3.0.5 seems to be buggy
  - pyparsing!=3.0.5
  # tests
  - pytest
  - pytest-cov
  - pytest-mock
  - pytest-asyncio
  # docs, pandoc needs conda ...
  - pandoc==2.12
  # we need this to ensure syntax highlighting in the notebook code cells for the docs
  - ipython<8.0.0
  # for building the frontend
  - nodejs~=14.17.0
  - pip:
      - pip>=2.22.0
      # docs
      - sphinx==4.5.0
      - sphinx-design==0.2.0
      - furo==2022.6.4.1
      - myst-parser==0.16.1
      - nbsphinx==0.8.9
      - sphinxext.opengraph==0.6.3
      - sphinx-copybutton==0.5.0
      - sphinx-notfound-page==0.8.3
      # code formatting
      - pre-commit==2.15.0
      # extra test dependencies
      - cleanlab~=2.0.0 # With this version, tests are failing
      - datasets>=2.6.0
      - huggingface_hub != 0.5.0 # some backward comp. problems introduced in 0.5.0
      - flair==0.10
      - faiss-cpu
      - flyingsquid
      - pgmpy
      - plotly>=4.1.0
      - snorkel>=0.9.7
      - spacy==3.1.0
      - https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
      - transformers[torch]~=4.18.0
      - loguru
      # install Argilla in editable mode
      - -e .[server,listeners]
