/** css/custom.css **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
:root {
  --sidebarWidth: 280px;
  --primaryColor: #0508D9;
  --link: #0709ae;
  --linkActive: #4C4EA3;
  --linkHover: var(--primaryColor);
  --sidebarBackground: #FFFFFF;
  --sidebarBackgroundDark: #fcfcfc;
  --sidebarBackgroundDarker: #F2F3F7;
  --sidebarColor: #484848;
  --sidebarTitleColor: #404040;
  --noteHeader: #4C4EA3;
  --noteBackground: #4c4ea31c;
  --hintHeader: #67c795;
  --hintBackground: #67c7951C;
  --warningHeader: #ffba28;
  --warningBackground: #ffba281C;
  --white: #ffffff;
  --line: #e9eaed;
  --icon-close: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg"><path d="M8.9225 5.58721C8.13956 4.80426 6.87015 4.80426 6.08721 5.58721C5.30426 6.37015 5.30426 7.63956 6.08721 8.4225L17.6647 20L6.08733 31.5774C5.30438 32.3603 5.30438 33.6297 6.08733 34.4127C6.87027 35.1956 8.13968 35.1956 8.92262 34.4127L20.5 22.8353L32.0774 34.4127C32.8603 35.1956 34.1297 35.1956 34.9127 34.4127C35.6956 33.6297 35.6956 32.3603 34.9127 31.5774L23.3353 20L34.9128 8.4225C35.6957 7.63956 35.6957 6.37015 34.9128 5.58721C34.1298 4.80426 32.8604 4.80426 32.0775 5.58721L20.5 17.1647L8.9225 5.58721Z" fill="black"/></svg>');
  --tuto-section-1: #7B8CDE;
  --tuto-section-2: #797596;
  --tuto-section-3: #68D8D6;
  --tuto-section-4: #6494AA;
  --tuto-section-5: #FFBF46;
  --tuto-section-6: #8DA1B9;
  --tuto-section-7: #E086D3;
  --tuto-section-8: #E88D67;
  --tuto-section-9: #7EB77F;
  --tuto-section-10: #A1869E;
  --tuto-section-11: #466362;
  --tuto-section-11: #E7A9B5;
}
body {
  font-family: "Open Sans" ,"Helvetica Neue", "Arial", "sans-serif";
  color: #484848;
  background: var(--color-background-primary);
}
html {
  font-size: 16px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
.article {
  color: #484848;
}
.content .section h1 {
  margin-top: 2em;
}
.content .section h1 span {
  display: none;
}
.content .section h2 {
  margin-top: 1.5em;
}
.content .section h3 {
  margin-top: 2em;
}
p {
  font-size: 16px;
  line-height: 1.8em;
}
.content strong {
  font-weight: 600;
}
.content a strong {
  font-weight: 500;
}

p.admonition-title {
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
}
p.admonition-title::before {
  background-color: var(--white) !important;
}
.admonition {
  border-left: none;
  box-shadow: none;
}
.content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
  font-family: 'Futura Medium';
  font-weight: normal;
}
.content .note, .content .seealso, .content .wy-alert-info.admonition, .content .wy-alert-info.admonition-todo, .content .wy-alert-info.attention, .content .wy-alert-info.caution, .content .wy-alert-info.danger, .content .wy-alert-info.error, .content .wy-alert-info.hint, .content .wy-alert-info.important, .content .wy-alert-info.tip, .content .wy-alert-info.warning, .wy-alert.wy-alert-info {
  background: var(--noteBackground);
}
.content .note .admonition-title, .content .note .wy-alert-title, .content .seealso .admonition-title, .content .seealso .wy-alert-title, .content .wy-alert-info.admonition-todo .admonition-title, .content .wy-alert-info.admonition-todo .wy-alert-title, .content .wy-alert-info.admonition .admonition-title, .content .wy-alert-info.admonition .wy-alert-title, .content .wy-alert-info.attention .admonition-title, .content .wy-alert-info.attention .wy-alert-title, .content .wy-alert-info.caution .admonition-title, .content .wy-alert-info.caution .wy-alert-title, .content .wy-alert-info.danger .admonition-title, .content .wy-alert-info.danger .wy-alert-title, .content .wy-alert-info.error .admonition-title, .content .wy-alert-info.error .wy-alert-title, .content .wy-alert-info.hint .admonition-title, .content .wy-alert-info.hint .wy-alert-title, .content .wy-alert-info.important .admonition-title, .content .wy-alert-info.important .wy-alert-title, .content .wy-alert-info.tip .admonition-title, .content .wy-alert-info.tip .wy-alert-title, .content .wy-alert-info.warning .admonition-title, .content .wy-alert-info.warning .wy-alert-title, .content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
  background: var(--noteHeader);
}
.content .hint, .content .seealso, .content .wy-alert-info.admonition, .content .wy-alert-info.admonition-todo, .content .wy-alert-info.attention, .content .wy-alert-info.caution, .content .wy-alert-info.danger, .content .wy-alert-info.error, .content .wy-alert-info.hint, .content .wy-alert-info.important, .content .wy-alert-info.tip, .content .wy-alert-info.warning, .wy-alert.wy-alert-info {
  background: var(--hintBackground);
}
.content .hint .admonition-title, .content .hint .wy-alert-title, .content .seealso .admonition-title, .content .seealso .wy-alert-title, .content .wy-alert-info.admonition-todo .admonition-title, .content .wy-alert-info.admonition-todo .wy-alert-title, .content .wy-alert-info.admonition .admonition-title, .content .wy-alert-info.admonition .wy-alert-title, .content .wy-alert-info.attention .admonition-title, .content .wy-alert-info.attention .wy-alert-title, .content .wy-alert-info.caution .admonition-title, .content .wy-alert-info.caution .wy-alert-title, .content .wy-alert-info.danger .admonition-title, .content .wy-alert-info.danger .wy-alert-title, .content .wy-alert-info.error .admonition-title, .content .wy-alert-info.error .wy-alert-title, .content .wy-alert-info.hint .admonition-title, .content .wy-alert-info.hint .wy-alert-title, .content .wy-alert-info.important .admonition-title, .content .wy-alert-info.important .wy-alert-title, .content .wy-alert-info.tip .admonition-title, .content .wy-alert-info.tip .wy-alert-title, .content .wy-alert-info.warning .admonition-title, .content .wy-alert-info.warning .wy-alert-title, .content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
  background: var(--hintHeader);
}
.content .warning, .content .seealso, .content .wy-alert-info.admonition, .content .wy-alert-info.admonition-todo, .content .wy-alert-info.attention, .content .wy-alert-info.caution, .content .wy-alert-info.danger, .content .wy-alert-info.error, .content .wy-alert-info.hint, .content .wy-alert-info.important, .content .wy-alert-info.tip, .content .wy-alert-info.warning, .wy-alert.wy-alert-info {
  background: var(--warningBackground);
}
.content .warning .admonition-title, .content .warning .wy-alert-title, .content .seealso .admonition-title, .content .seealso .wy-alert-title, .content .wy-alert-info.admonition-todo .admonition-title, .content .wy-alert-info.admonition-todo .wy-alert-title, .content .wy-alert-info.admonition .admonition-title, .content .wy-alert-info.admonition .wy-alert-title, .content .wy-alert-info.attention .admonition-title, .content .wy-alert-info.attention .wy-alert-title, .content .wy-alert-info.caution .admonition-title, .content .wy-alert-info.caution .wy-alert-title, .content .wy-alert-info.danger .admonition-title, .content .wy-alert-info.danger .wy-alert-title, .content .wy-alert-info.error .admonition-title, .content .wy-alert-info.error .wy-alert-title, .content .wy-alert-info.hint .admonition-title, .content .wy-alert-info.hint .wy-alert-title, .content .wy-alert-info.important .admonition-title, .content .wy-alert-info.important .wy-alert-title, .content .wy-alert-info.tip .admonition-title, .content .wy-alert-info.tip .wy-alert-title, .content .wy-alert-info.warning .admonition-title, .content .wy-alert-info.warning .wy-alert-title, .content .wy-alert.wy-alert-info .admonition-title, .wy-alert.wy-alert-info .content .admonition-title, .wy-alert.wy-alert-info .wy-alert-title {
  background: var(--warningHeader);
}
.content code.literal, .content tt.literal {
  color: #F2067A;
}
.content div[class^=highlight], .content pre.literal-block {
  border: none;
  border-radius: 5px;
}
/* mobile header */
.mobile-header .icon, .mobile-header svg {
  height: 1.5rem;
  width: 1.5rem;
}
.mobile-header .theme-toggle-header {
  padding: 0.75rem 0.5rem;
}
.header-logo {
  max-width: 120px;
}
.header__search {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  top: -5em;
  z-index: 30;
  transition: top 0.1s ease-in-out;
}
.mobile-header .header-right {
  align-items: center;
}
.header__search__container {
  align-items: center;
  display: flex;
  position: relative;
  background: var(--color-sidebar-item-background--current);
  border-radius: 5px;
  padding: 0.75em;
}
.header__search__container:before {
  background-color: var(--color-sidebar-search-text);
  content: "";
  height: var(--sidebar-search-icon-size);
  left: 2em;
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search);
  position: absolute;
  width: var(--sidebar-search-icon-size);
}
.header__search__input {
  box-sizing: border-box;
  border: none;
  padding-left: 3em;
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  outline: none;
  background: var(--color-sidebar-search-background);
  color: var(--color-sidebar-search-text);
}
.search-icon {
  position: relative;
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
}
.search-icon:before {
  background-color: var(--color-foreground-secondary);
  content: "";
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search);
  height: 100%;
  width: 100%;
  position: absolute;
}
.close-icon {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: 2em;
}
.close-icon:before {
  background-color: var(--color-sidebar-search-text);
  content: "";
  -webkit-mask-image: var(--icon-close);
  mask-image: var(--icon-close);
  height: 100%;
  width: 100%;
  position: absolute;
}
#__search:checked~.page .header__search {
  top: 1em;
  transition: top 0.3s ease-in-out;
}
#__search:checked~.search-overlay {
  height: 100%;
  opacity: 1;
  width: 100%;
}
#searchbox .highlight-link {
  display: none;
}
.search-overlay {
  z-index: 20;
}
/* table */
.jp-RenderedHTMLCommon table, div.rendered_html table {
  margin-top: 1em;
  background: var(--color-background-primary) !important;
  color: var(--color-foreground-primary) !important;
}
.jp-RenderedHTMLCommon tbody tr:nth-child(odd), div.rendered_html tbody tr:nth-child(odd) {
  background:  var(--color-background-item) !important;
}
/* sidebar */
.sidebar-drawer {
  width: 300px;
}
.sidebar-container {
  width: 100%;
}
.sidebar-tree li>ul {
  margin-left: 0;
}
.sidebar-tree li>ul a {
  padding-left: 1em;
}
.sidebar-tree .caption, .sidebar-tree :not(.caption)>.caption-text {
  font-size: 22px;
  font-family: 'Futura Medium';
  font-weight: normal;
  text-transform: none;
}
.sidebar-tree .reference {
  line-height: 1.8em;
}
.sidebar-tree .toctree-l2 a {
  padding-left: 32px;
}
.sidebar-logo {
  max-width: 120px;
  margin-left: 0;
}
.sidebar-brand {
  margin: 0 0 2em 0;
}
.sidebar-search-container {
  margin: 0 16px;
  padding-bottom: 16px;
}
.sidebar-search {
  border: 1px solid var(--line);
  padding-left: 2.5em;
  border-radius: 3px;
  min-height: 40px;
}
.sidebar-search-container:before {
  z-index: 12;
}
.sidebar__theme-toggle {
  display: none;
}
@media (max-width: 67em) {
  .sidebar-drawer {
    left: -300px;
  }
  .sidebar__theme-toggle {
    display: block;
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 0.4em;
  }
  .sidebar-search-container {
    display: none;
  }
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
h1 {
  margin-top: 2rem
}
h2 {
  margin-top: 2rem 
}
p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* links and buttons */
a {
  text-decoration: none;
}

/* add border-radius */
.content img {
  border-radius: 5px;
}
.content video {
  border-radius: 5px;
}

@font-face {
  font-family: 'Futura Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura'), url('fonts/futura-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Medium Condensed'), url('fonts/futura-medium-condensed.woff2') format('woff2');
}


  @font-face {
  font-family: 'Futura Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Bold'), url('fonts/futura-bold.woff2') format('woff2');
  }


  @font-face {
  font-family: 'Futura Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Light'), url('fonts/futura-light.woff2') format('woff2');
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--color-sidebar-search-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-sidebar-search-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* code */
div.nbinput.container div.input_area {
  border: none !important;
}
/* Tutorials sections */
a [class^="tuto-section-"] {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 1em;
  border-radius: 50%;
}
div[class*="tuto-section-"] {
  padding: 0;
}
a .tuto-section-1 {
  background: var(--tuto-section-1);  
}
a .tuto-section-2 {
  background: var(--tuto-section-2);  
}
a .tuto-section-3 {
  background: var(--tuto-section-3);  
}
a .tuto-section-4 {
  background: var(--tuto-section-4);  
}
a .tuto-section-5 {
  background: var(--tuto-section-5);  
}
a .tuto-section-6 {
  background: var(--tuto-section-6);  
}

/* Cards */
.sd-card {
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 2em;
}
.sd-card:hover {
  transform: none;
}
.sd-card:hover .sd-card-title {
  transition: color 0.2s ease-in-out;
}
.sd-card img {
  width: auto;
  margin: 2rem auto auto auto;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  height: 100px;
}
@supports (object-fit: cover) {
  .sd-card img {
    width: 80%;
  }
}
@media (min-width: 576px) {
  .sd-card img {
    height: 12vw;
  }
}
@media (min-width: 1440px) {
  .sd-card img {
    height: 190px;
  }
}
@media (min-width: 1640px) {
  .content {
    width: 65%;
  }
}
@media (max-width: 576px) {
  .sd-card img {
    height: 30vw;
  }
}
.tuto-section-1 .sd-card {
  border-color:  var(--tuto-section-1);
  background:  var(--tuto-section-1);
}
.tuto-section-2 .sd-card {
  border-color:  var(--tuto-section-2);
  background:  var(--tuto-section-2);
}
.tuto-section-3 .sd-card {
  border-color:  var(--tuto-section-3);
  background:  var(--tuto-section-3);
}
.tuto-section-4 .sd-card {
  border-color:  var(--tuto-section-4);
  background:  var(--tuto-section-4);
}
.tuto-section-5 .sd-card {
  border-color:  var(--tuto-section-5);
  background:  var(--tuto-section-5);
}
.tuto-section-6 .sd-card {
  border-color:  var(--tuto-section-6);
  background:  var(--tuto-section-6);
}
.sd-card-body {
  padding-left: 0;
  padding-right: 0;
  background:  var(--color-background-primary);
  margin-top: -1em;
}
/* [data-theme=dark] .sd-card-body {
  background:  #131416
} */
.sd-card-body .sd-card-title {
  font-weight: normal !important;
  margin-top: 10px;
  margin-bottom: 20px;
}
.sd-card-body .sd-card-text {
  font-size: 14px;
  line-height: 1.8em;
}
/* pager */
.related-pages .title [class*="tuto-section-"] {
  display: none;
}
.related-pages a:hover .page-info .title {
  text-decoration: none;
}

