recommonmark
readthedocs-sphinx-ext
alabaster==0.7.12
attrs==21.4.0
babel==2.10.3
beautifulsoup4==4.11.1
bleach==5.0.1
charset-normalizer==2.1.0
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
fastjsonschema==2.15.3
furo==2022.6.4.1
h11==0.9.0
httpcore==0.11.1
httpx
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==5.8.0
jinja2==3.1.2
jsonschema==4.6.1
jupyter-client==7.3.4
jupyter-core
jupyterlab-pygments==0.2.2
markdown-it-py
markupsafe==2.1.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
mistune==0.8.4
myst-parser==0.16.1
nbclient==0.6.6
nbconvert
nbformat==5.4.0
nbsphinx==0.8.9
nest-asyncio==1.5.5
numpy==1.23.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
prodict==0.8.18
pydantic==1.9.1
pyparsing==3.0.9
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
pyyaml==6.0
pyzmq==23.2.0
requests
rfc3986==1.5.0
schedule==1.1.0
sniffio==1.2.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sphinx==4.5.0
sphinx-basic-ng==0.0.1a12
sphinx-copybutton==0.5.0
sphinx-design==0.2.0
sphinx-notfound-page==0.8.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxext-opengraph==0.6.3
tinycss2==1.1.1
tornado
tqdm==4.64.0
traitlets==5.3.0
typing-extensions==4.3.0
urllib3==1.26.9
webencodings==0.5.1
wrapt==1.13.3
zipp==3.8.0