@font-face {
    font-family: 'Futura Medium';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('Futura'), url('/fonts/futura-medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura Medium Condensed';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('Futura Medium Condensed'), url('/fonts/futura-medium-condensed.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura Bold';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('Futura Bold'), url('/fonts/futura-bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Futura Light';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('Futura Light'), url('/fonts/futura-light.woff2') format('woff2');
}