@font-face {
  font-family: 'Futura Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Futura'), url('~assets/fonts/futura-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Futura Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Medium Condensed'), url('~assets/fonts/futura-medium-condensed.woff2') format('woff2');
}
  
  
  @font-face {
  font-family: 'Futura Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Bold'), url('~assets/fonts/futura-bold.woff2') format('woff2');
  }
  
  
  @font-face {
  font-family: 'Futura Light';
  font-style: normal;
  font-weight: normal;
  src: local('Futura Light'), url('~assets/fonts/futura-light.woff2') format('woff2');
  }
  
  