/** css/custom.css **/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --sidebarWidth: 280px;
  --primaryColor: #3E5CC9;
  --link: #3E5CC9;
  --linkActive: #4C4EA3;
  --linkHover: var(--primaryColor);
  --sidebarBackground: #FFFFFF;
  --sidebarBackgroundDark: #fcfcfc;
  --sidebarBackgroundDarker: #F2F3F7;
  --sidebarColor: #484848;
  --sidebarTitleColor: #404040;
  --noteHeader: #4C4EA3;
  --hintHeader: #67c795;
  --hintBackground: #67c7951C;
  --warningHeader: #ffba28;
  --warningBackground: #ffba281C;
  --white: #ffffff;
  --line: #e9eaed;
  --icon-close: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg"><path d="M8.9225 5.58721C8.13956 4.80426 6.87015 4.80426 6.08721 5.58721C5.30426 6.37015 5.30426 7.63956 6.08721 8.4225L17.6647 20L6.08733 31.5774C5.30438 32.3603 5.30438 33.6297 6.08733 34.4127C6.87027 35.1956 8.13968 35.1956 8.92262 34.4127L20.5 22.8353L32.0774 34.4127C32.8603 35.1956 34.1297 35.1956 34.9127 34.4127C35.6956 33.6297 35.6956 32.3603 34.9127 31.5774L23.3353 20L34.9128 8.4225C35.6957 7.63956 35.6957 6.37015 34.9128 5.58721C34.1298 4.80426 32.8604 4.80426 32.0775 5.58721L20.5 17.1647L8.9225 5.58721Z" fill="black"/></svg>');
  --icon-slack: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 512 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M82.003 0a104.2 104.2 0 0 1 26.402 8.297c14.484 21.63 21.68 46.025 19.023 74.163c-11.082 8.286-21.831 13.313-32.4 16.603a80 80 0 0 1-6.935-11.421a68 68 0 0 0 10.94-5.326a66 66 0 0 1-2.677-2.118c-20.805 9.85-43.684 9.85-64.74 0c-.866.73-1.762 1.44-2.678 2.118a68 68 0 0 0 10.921 5.315a80.5 80.5 0 0 1-6.935 11.422C22.365 95.763 11.626 90.736.544 82.46C-1.722 58.188 2.807 33.566 19.516 8.317A104 104 0 0 1 45.939 0c1.147 2.056 2.506 4.822 3.422 7.022q14.494-2.22 29.26 0A77 77 0 0 1 82.003 0m253.933 31.687q10.567 0 17.544 4.533v13.17q-2.461-1.727-5.738-2.807q-3.274-1.08-7.016-1.08c-4.368 0-7.78.813-10.246 2.447s-3.703 3.763-3.703 6.405c0 2.59 1.196 4.709 3.592 6.374c2.397 1.655 5.868 2.488 10.428 2.488c2.345 0 4.66-.35 6.945-1.038c2.275-.7 4.238-1.553 5.878-2.56v12.737q-7.745 4.75-17.967 4.75c-5.736-.02-10.629-1.028-14.665-3.043s-7.086-4.75-9.119-8.204s-3.06-7.34-3.06-11.658s1.057-8.183 3.17-11.586q3.17-5.104 9.302-8.02c4.085-1.942 8.967-2.908 14.655-2.908m-52.917-.01c3.945 0 7.559.431 10.852 1.295c3.29.864 6.008 1.964 8.173 3.31v11.299c-2.216-1.347-4.753-2.406-7.65-3.208a33.6 33.6 0 0 0-8.92-1.182c-4.418 0-6.621.77-6.621 2.303c0 .72.342 1.254 1.026 1.614s1.942.73 3.764 1.12l7.045 1.296q6.904 1.22 10.287 4.276q3.383 3.054 3.382 9.037c0 4.37-1.86 7.834-5.596 10.404q-5.599 3.855-15.893 3.855c-4.037-.01-7.96-.514-11.766-1.522c-3.805-1.007-7.238-2.467-10.287-4.39V59.24q3.457 2.73 9.27 4.503c3.875 1.172 7.62 1.758 11.243 1.758q2.536 0 3.835-.679c.866-.452 1.3-.997 1.3-1.624c0-.72-.232-1.316-.706-1.8c-.473-.483-1.39-.884-2.747-1.223l-8.455-1.943c-4.842-1.151-8.275-2.745-10.317-4.79c-2.044-2.036-3.061-4.709-3.061-8.02c0-2.785.886-5.201 2.678-7.268q2.672-3.1 7.609-4.78c3.292-1.13 7.136-1.696 11.555-1.696M512 23.833v51.813h-17.263V66.22c-1.46 3.547-3.674 6.25-6.653 8.101c-2.98 1.84-6.664 2.766-11.032 2.766c-3.905 0-7.306-.967-10.217-2.91q-4.362-2.914-6.732-7.988c-1.57-3.382-2.367-7.206-2.367-11.483q-.075-6.615 2.507-11.874c1.712-3.506 4.136-6.24 7.257-8.204c3.12-1.963 6.684-2.95 10.68-2.95c8.082 0 13.548 3.524 16.408 10.564l.148.373V23.833zm-126.533 7.833c5.587 0 10.407.956 14.444 2.879c4.036 1.922 7.117 4.554 9.23 7.916c2.115 3.362 3.17 7.217 3.17 11.586c0 4.318-1.055 8.225-3.17 11.73c-2.113 3.506-5.204 6.26-9.27 8.276c-4.067 2.015-8.868 3.022-14.413 3.022c-5.547 0-10.348-.997-14.404-3.012c-4.067-2.015-7.166-4.77-9.301-8.276c-2.133-3.505-3.21-7.412-3.21-11.73c0-4.317 1.066-8.173 3.21-11.555c2.143-3.382 5.224-6.035 9.27-7.957c4.036-1.923 8.858-2.879 14.444-2.879m-132.36 11.802v32.404h-17.21V43.468c5.273 2.323 11.816 2.426 17.21 0m195.128-10.856c2.486 0 4.62.576 6.412 1.727v15.544c-1.791-1.203-4.107-1.799-6.975-1.799c-3.756 0-6.654 1.162-8.668 3.485c-2.022 2.324-3.03 5.942-3.03 10.836v13.241h-17.261V33.548h16.91v13.385c.936-4.894 2.457-8.502 4.55-10.836c2.084-2.323 4.78-3.485 8.062-3.485m-248.79-7.34c6.624 0 12.22 1.059 16.81 3.166c4.58 2.108 8.013 5.048 10.288 8.81c2.273 3.763 3.42 8.07 3.42 12.923c0 4.75-1.187 9.057-3.562 12.912c-2.376 3.866-5.99 6.92-10.85 9.17c-4.861 2.252-10.882 3.383-18.078 3.383h-25.506V25.272zM42.728 41.348c-6.432 0-11.505 5.912-11.505 13.098s5.184 13.087 11.505 13.087c6.432 0 11.515-5.901 11.505-13.087c.11-7.197-5.073-13.098-11.505-13.098m42.516 0c-6.432 0-11.505 5.912-11.505 13.098s5.184 13.087 11.505 13.087c6.432 0 11.505-5.901 11.505-13.087c.11-7.197-5.073-13.098-11.505-13.098m300.214 3.58c-3.01 0-5.366.853-7.087 2.56c-1.71 1.707-2.567 3.989-2.567 6.868q0 4.317 2.567 6.939c1.712 1.748 4.076 2.632 7.087 2.632c2.957-.01 5.294-.884 7.004-2.632c1.713-1.748 2.577-4.06 2.577-6.94c0-2.878-.856-5.17-2.577-6.867q-2.567-2.56-7.004-2.56m99.767.216q-4.363 0-6.975 2.56c-1.742 1.707-2.607 3.917-2.607 6.652c0 2.734.865 4.965 2.607 6.692s4.037 2.59 6.905 2.59c2.908-.01 5.243-.883 7.006-2.63c1.762-1.749 2.637-4.02 2.637-6.796c0-2.684-.856-4.873-2.567-6.55c-1.712-1.675-4.057-2.518-7.006-2.518m-287.038-7.063h-8.596v24.756h7.6c4.46 0 7.892-1.141 10.287-3.413c2.396-2.283 3.594-5.387 3.594-9.325c0-3.65-1.068-6.559-3.201-8.738c-2.134-2.18-5.365-3.28-9.684-3.28M244.51 22.24c4.752 0 8.606 3.534 8.606 7.895s-3.854 7.896-8.606 7.896c-4.754 0-8.607-3.535-8.607-7.896s3.853-7.895 8.607-7.895" fill="white"/></svg>');
  --icon-external: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.125 1C6.125 0.792893 6.29289 0.625 6.5 0.625H9C9.05085 0.625 9.09933 0.635119 9.14354 0.653454C9.18777 0.671754 9.22921 0.698881 9.26517 0.734835C9.33839 0.808058 9.375 0.904029 9.375 1V3.5C9.375 3.70711 9.20711 3.875 9 3.875C8.79289 3.875 8.625 3.70711 8.625 3.5V1.90533L4.26517 6.26516C4.11872 6.41161 3.88128 6.41161 3.73483 6.26516C3.58839 6.11872 3.58839 5.88128 3.73483 5.73484L8.09467 1.375H6.5C6.29289 1.375 6.125 1.20711 6.125 1ZM1.02773 2.52773C1.28559 2.26987 1.63533 2.125 2 2.125H4.5C4.70711 2.125 4.875 2.29289 4.875 2.5C4.875 2.70711 4.70711 2.875 4.5 2.875H2C1.83424 2.875 1.67527 2.94085 1.55806 3.05806C1.44085 3.17527 1.375 3.33424 1.375 3.5V8C1.375 8.16576 1.44085 8.32473 1.55806 8.44194C1.67527 8.55915 1.83424 8.625 2 8.625H6.5C6.66576 8.625 6.82473 8.55915 6.94194 8.44194C7.05915 8.32473 7.125 8.16576 7.125 8V5.5C7.125 5.29289 7.29289 5.125 7.5 5.125C7.70711 5.125 7.875 5.29289 7.875 5.5V8C7.875 8.36467 7.73013 8.71441 7.47227 8.97227C7.21441 9.23013 6.86467 9.375 6.5 9.375H2C1.63533 9.375 1.28559 9.23013 1.02773 8.97227C0.769866 8.71441 0.625 8.36467 0.625 8V3.5C0.625 3.13533 0.769866 2.78559 1.02773 2.52773Z" fill="#607D8B"/></svg>');
  --sd-color-tabs-underline-active: var(--color-literal); /* New color value */
  --sd-color-tabs-label-active: var(--color-literal); /* New color value */
  --sd-color-tabs-label-hover: var(--color-literal);
  --sd-color-tabs-label-inactive: var(--color-foreground-muted);
  --sd-color-tabs-underline-hover: var(--color-foreground-border);
  --sd-color-tabs-underline-inactive: var(--color-background-border);
  --sd-color-tabs-overline: var(--color-background-border);
  --sd-color-tabs-underline: var(--color-background-border);
}


body {
  font-family: "Inter", "Helvetica Neue", "Arial", "sans-serif";
  color: #484848;
  background: var(--color-background-primary);
}

html {
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

.article {
  color: #484848;
}

.content {
  width: 50em;
  margin-top: 1.5em;
  flex-shrink: 0;
}

.content--no-toc {
  width: calc(50em + 15em);
  flex-shrink: 0;
}

.content .section h1 {
  margin-top: 2em;
}

.content .section h1 span {
  display: none;
}

.content .section h2 {
  margin-top: 1.5em;
}

.content .section h3 {
  margin-top: 2em;
}

p {
  font-size: 16px;
  line-height: 1.8em;
}

.content strong {
  font-weight: 600;
}

.content a strong {
  font-weight: 500;
}

p.admonition-title {
  font-weight: 700;
  font-size: 16px;
}

p.admonition-title img {
  background: none;
}

.admonition {
  border-left: none;
  border-radius: 6px;
}

.content .toctree-wrapper>p.caption,
h2,
h3,
h4,
h5,
h6,
legend {
  font-weight: 600;
}

h1,
h2 {
  font-weight: 700;
}

.button--primary {
  position: relative;
  border: 0;
  text-decoration: none !important;
  color: white !important;
  border-radius: 5px;
  padding: 0.3em;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(-45deg, #e73a3a, #fa655f);
  display: inline-flex;
  align-items: center;
  line-height: 20px;
}

.button--primary span {
  position: relative;
  height: 14px;
  width: 60px;
  margin-left: 8px;
}

.button--primary:hover {
  color: white !important;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(-45deg, #c13030, #e25a55);
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white !important;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 100; /* Make sure it's above your content */
  background: linear-gradient(-45deg, #e73a3a, #fa655f);
  text-align: center;
}
.floating-button:hover {
  color: white !important;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(-45deg, #c13030, #e25a55);
}



.content .note .wy-alert-title,
.content .seealso .wy-alert-title,
.content .wy-alert-info.attention .wy-alert-title,
.content .wy-alert-info.caution .wy-alert-title,
.content .wy-alert-info.danger .wy-alert-title,
.content .wy-alert-info.error .wy-alert-title,
.content .wy-alert-info.hint .wy-alert-title,
.content .wy-alert-info.important .wy-alert-title,
.content .wy-alert-info.tip .wy-alert-title,
.content .wy-alert-info.warning .wy-alert-title,
.wy-alert.wy-alert-info .wy-alert-title {
  background: var(--noteHeader);
}

.content .hint,
.content .seealso,
.content .wy-alert-info.attention,
.content .wy-alert-info.caution,
.content .wy-alert-info.danger,
.content .wy-alert-info.error,
.content .wy-alert-info.hint,
.content .wy-alert-info.important,
.content .wy-alert-info.tip,
.content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
  background: var(--hintBackground);
}

.content .hint .wy-alert-title,
.content .seealso .wy-alert-title,
.content .wy-alert-info.attention .wy-alert-title,
.content .wy-alert-info.caution .wy-alert-title,
.content .wy-alert-info.danger .wy-alert-title,
.content .wy-alert-info.error .wy-alert-title,
.content .wy-alert-info.hint .wy-alert-title,
.content .wy-alert-info.important .wy-alert-title,
.content .wy-alert-info.tip .wy-alert-title,
.content .wy-alert-info.warning .wy-alert-title,
.wy-alert.wy-alert-info .wy-alert-title {
  background: var(--hintHeader);
}

.content .warning,
.content .seealso,
.content .wy-alert-info.attention,
.content .wy-alert-info.caution,
.content .wy-alert-info.danger,
.content .wy-alert-info.error,
.content .wy-alert-info.hint,
.content .wy-alert-info.important,
.content .wy-alert-info.tip,
.content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
  background: var(--warningBackground);
}

.content .warning .wy-alert-title,
.content .seealso .wy-alert-title,
.content .wy-alert-info.attention .wy-alert-title,
.content .wy-alert-info.caution .wy-alert-title,
.content .wy-alert-info.danger .wy-alert-title,
.content .wy-alert-info.error .wy-alert-title,
.content .wy-alert-info.hint .wy-alert-title,
.content .wy-alert-info.important .wy-alert-title,
.content .wy-alert-info.tip .wy-alert-title,
.content .wy-alert-info.warning .wy-alert-title,
.wy-alert.wy-alert-info .wy-alert-title {
  background: var(--warningHeader);
}

.content code.literal,
.content tt.literal {
  color: var(--color-literal);
}

.content div[class^=highlight],
.content pre.literal-block {
  border: none;
  border-radius: 5px;
}

:target>h1:first-of-type,
:target>h2:first-of-type,
:target>h3:first-of-type,
:target>h4:first-of-type,
:target>h5:first-of-type,
:target>h6:first-of-type,
span:target~h1:first-of-type,
span:target~h2:first-of-type,
span:target~h3:first-of-type,
span:target~h4:first-of-type,
span:target~h5:first-of-type,
span:target~h6:first-of-type {
  background: none;
}

.highlight pre {
  padding: 2em !important;
}

.highlight button.copybtn {
  color: #ccc;
}

.highlight button.copybtn:hover {
  color: #ffffff;
}

div.nbinput.container,
div.nboutput.container {
  margin: 2em 0 !important;
}

.article-container img {
  margin: 2em 0;
  display: flex;
  background: var(--color-img-background);
}

:target>h1:first-of-type,
:target>h2:first-of-type,
:target>h3:first-of-type,
:target>h4:first-of-type,
:target>h5:first-of-type,
:target>h6:first-of-type,
span:target~h1:first-of-type,
span:target~h2:first-of-type,
span:target~h3:first-of-type,
span:target~h4:first-of-type,
span:target~h5:first-of-type,
span:target~h6:first-of-type {
  background: var(--color-sidebar-item-background--current);
}

/* mobile header */
.mobile-header .icon,
.mobile-header svg {
  height: 1.5rem;
  width: 1.5rem;
}

.mobile-header .theme-toggle-header {
  padding: 0.75rem 0.5rem;
}

.header-logo {
  max-width: 120px;
}

.header__search {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  top: -5em;
  z-index: 30;
  transition: top 0.1s ease-in-out;
}

.mobile-header .header-right {
  align-items: center;
}

.header__search__container {
  align-items: center;
  display: flex;
  position: relative;
  background: var(--color-sidebar-background-border);
  border-radius: 5px;
  padding: 0.75em;
}

.header__search__container:before {
  background-color: var(--color-sidebar-search-text);
  content: "";
  height: var(--sidebar-search-icon-size);
  left: 2em;
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search);
  position: absolute;
  width: var(--sidebar-search-icon-size);
}

.header__search__input {
  box-sizing: border-box;
  border: none;
  padding-left: 3em;
  border-radius: 5px;
  min-height: 50px;
  width: 100%;
  outline: none;
  background: var(--color-sidebar-search-background);
  color: var(--color-sidebar-search-text);
}

.search-icon {
  position: relative;
  height: 20px !important;
  width: 20px !important;
  cursor: pointer;
}

.search-icon:before {
  background-color: var(--color-search-icon);
  content: "";
  -webkit-mask-image: var(--icon-search);
  mask-image: var(--icon-search);
  height: 100%;
  width: 100%;
  position: absolute;
}

.nav-overlay-icon .icon {
  color: var(--color-search-icon) !important;
}

.close-icon {
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  right: 2em;
}

.close-icon:before {
  background-color: var(--color-sidebar-search-text);
  content: "";
  -webkit-mask-image: var(--icon-close);
  mask-image: var(--icon-close);
  height: 100%;
  width: 100%;
  position: absolute;
}

.slack-icon:before {
  position: absolute;
  left: 0;
  background-color: white;
  content: "";
  -webkit-mask-image: var(--icon-slack);
  mask-image: var(--icon-slack);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

#__search:checked~.page .header__search {
  top: 1em;
  transition: top 0.3s ease-in-out;
}

#__search:checked~.search-overlay {
  height: 100%;
  opacity: 1;
  width: 100%;
}

#searchbox .highlight-link {
  display: none;
}

.search-overlay {
  z-index: 20;
}

/* table */
.jp-RenderedHTMLCommon table,
div.rendered_html table {
  margin-top: 1em;
  background: var(--color-table-bg) !important;
  color: var(--color-foreground-primary) !important;
  border-radius: 3px;
}

div.rendered_html table th,
div.rendered_html table td {
  text-align: left !important;
  padding: 1em;
}

.jp-RenderedHTMLCommon tbody tr:hover,
div.rendered_html tbody tr:hover {
  background: initial !important;
}

.jp-RenderedHTMLCommon tbody tr:nth-child(odd),
div.rendered_html tbody tr:nth-child(odd) {
  background: var(--color-table-row) !important;
}

.jp-RenderedHTMLCommon tbody tr:hover,
div.rendered_html tbody {
  border-radius: 3px;
}

tbody tr:last-child td:first-child,
tbody tr:last-child th {
  border-bottom-left-radius: 3px;
}

tbody tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

thead tr:last-child th:first-child {
  border-top-left-radius: 3px;
}

thead tr:last-child th:last-child {
  border-top-right-radius: 3px;
}

.jp-RenderedHTMLCommon thead,
div.rendered_html thead {
  border-bottom: 0 !important;
  background: var(--color-table-header) !important;
  border-radius: 3px;
}

/* back-to-top */
a.back-to-top.muted-link {
  color: var(--color-foreground-primary);
  text-decoration: none !important;
}

/* sidebar */
.sidebar-container {
  width: 19em;
}

.sidebar-tree li>ul {
  margin-left: 0;
}

.sidebar-tree li>ul a {
  padding-left: 1em;
}

.sidebar-tree .caption,
.sidebar-tree :not(.caption)>.caption-text {
  font-size: 22px;
  font-weight: normal;
  text-transform: none;
}

.sidebar-tree .reference {
  line-height: 1.8em;
  padding-left: 2em;
}

.sidebar-tree .reference:hover {
  font-weight: 600;
}

.sidebar-tree .current-page>.reference {
  font-weight: 600;
  color: var(--color-sidebar-current-text);
}

.sidebar-tree .toctree-l2 a {
  padding-left: 4em;
}

.sidebar-logo {
  max-width: 160px;
  margin-top: 2em;
}

.sidebar-brand {
  margin: 0;
}

.sidebar-search-container {
  margin: 0 16px;
  padding-bottom: 16px;
}

.sidebar-tree .reference.external:after {
  color: var(--color-sidebar-link-text--top-level);
}

.sidebar-search {
  border: 1px solid var(--color-sidebar-search-border);
  padding-left: 2.5em;
  border-radius: 3px;
  min-height: 40px;
}

.sidebar-search:focus {
  border: 1px solid var(--color-sidebar-search-border-focus);
}

.sidebar-search::placeholder {
  color: var(--color-search-placeholder);
  font-weight: 600;
}

.sidebar-scroll,
.toc-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.sidebar-scroll::-webkit-scrollbar,
.toc-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.sidebar-search-container:before {
  z-index: 12;
  background: var(--color-search-icon)
}

.sidebar__theme-toggle {
  display: none;
}

.sidebar-tree ul {
  margin-bottom: 1rem;
}

@media (max-width: 67em) {
  .sidebar__theme-toggle {
    display: block;
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 0.4em;
  }

  .social {
    justify-content: center !important;
    margin: auto;
  }

  .social--sidebar {
    display: none !important;
  }

  .sidebar-search-container {
    display: none;
  }

  .open-in-colab__wrapper {
    display: none;
  }
}

@media (min-width: 67em) {
  .social--main {
    display: none !important;
  }

  .social--sidebar {
    margin-bottom: 1em;
    text-align: center;
    align-items: center;
    display: block !important;
  }

  .social--sidebar>* {
    margin: 3px 4px;
    vertical-align: middle;
  }

  .open-in-colab__wrapper {
    display: inline-flex;
    width: calc(100% - 40px);
    gap: 2px;
    justify-content: right;
    margin-top: 1.4em;
  }
}

@media (max-width: 82em) {
  .open-in-colab__wrapper {
    width: calc(100% - 70px);
  }
}


/* toc */
.toc-title {
  color: var(--color-toc-title);
  text-transform: none;
  font-size: 16px;
  font-weight: 600;
}

.toc-tree .reference {
  display: inline-block;
  font-size: 14px;
  max-width: 15em;
}

.toc-tree .reference:hover {
  font-weight: 600;
  color: var(--color-toc-item-text--active);
}

@media (min-width: 82em) {
.toc-drawer {
    width: 100%;
  }
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h1 {
  margin-top: 2rem
}

h2 {
  margin-top: 2rem
}

p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* anchors */
.headerlink {
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  visibility: hidden !important;
}

.code-block-caption:hover>.headerlink:before,
dl dt:hover>.headerlink:before,
figcaption p:hover>.headerlink:before,
h1:hover>.headerlink:before,
h2:hover>.headerlink:before,
h3:hover>.headerlink:before,
h4:hover>.headerlink:before,
h5:hover>.headerlink:before,
h6:hover>.headerlink:before,
p.caption:hover>.headerlink:before,
table>caption:hover>.headerlink:before {
  content: "\f0c1";
  font-family: FontAwesome;
  visibility: visible;
  font-size: 16px;
}

/* links and buttons */
.article-container a:not(.headerlink):not(.github-stars a):not(:hover) {
  color: var(--color-content-foreground);
}

.article-container a:not(.headerlink) {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

/* add border-radius */
.content img {
  border-radius: 5px;
}

.content video {
  border-radius: 5px;
}


@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--color-sidebar-search-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-sidebar-search-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* code */
div.nbinput.container div.input_area {
  border: none !important;
}

div.nboutput.container div.output_area.stderr {
  background: #fdd;
  color: #484848
}

/* Tutorials sections */
a [class^="tuto-section-"] {
  height: 14px;
  width: 14px;
  display: inline-block;
  margin-right: 1em;
  border-radius: 50%;
}

div[class*="tuto-section-"] {
  padding: 0;
}

/* Copyright */

.left-details {
  visibility: hidden;
}

.left-details .copyright {
  visibility: visible;
}

/* Cards */
.sd-card {
  border-radius: 5px;
  margin-bottom: 1.5em;
  transition: box-shadow 0.2s ease-in;
  box-shadow: 0 var(--sd-color-shadow),
    1px 1px 6px rgba(0, 0, 0, 0.1) !important;
}

.sd-card:hover {
  transform: none;
  border-color: var(--sd-color-card-border);
  transition: box-shadow 0.2s ease-in;
  box-shadow: 1px 1px 10px var(--sd-color-shadow),
    1px 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.sd-card:hover .sd-card-title {
  transition: color 0.2s ease-in-out;
}

.sd-card:hover .sd-card-body {
  transition: background 0.2s ease-in;
  background: var(--color-card-bg-hover);
}

.tuto-list .sd-card:hover .sd-card-body, .tuto-section-2 .sd-card:hover .sd-card-body {
  background: var(--color-tuto-card-bg-hover);
}

.sd-card img {
  width: auto;
  margin: 2rem auto -1rem auto;
  border-radius: 5px;
  object-fit: cover;
  object-position: 100% 0;
  height: 100px;
}

@supports (object-fit: cover) {
  .sd-card img {
    width: 80%;
  }
}

@media (min-width: 576px) {
  .sd-card img {
    height: 12vw;
  }
}

@media (min-width: 1440px) {
  .sd-card img {
    height: 190px;
  }
}

@media (max-width: 576px) {
  .sd-card img {
    height: 30vw;
  }
}

/* #libraries .sd-card-body {
  min-height: 150px;
} */
.sd-card-body {
  background: var(--color-card-bg);
  color: var(--color-card-text);
  border-radius: 5px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.tuto-list .sd-card, .tuto-section-2 .sd-card {
  background: var(--color-tuto-card-bg);
}
.tuto-list .sd-card-body, .tuto-section-2 .sd-card-body {
  background: var(--color-tuto-card-bg);
  color: var(--color-tuto-card-text);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tuto-list .sd-card-img-top, .tuto-section-2 .sd-card-img-top {
  box-shadow: 0 3px 8px rgb(0 0 0 / 50%);
}

.tuto-list .sd-card-body .sd-card-title, .tuto-section-2s .sd-card-body .sd-card-title {
  text-align: left;
}

.sd-card-body .sd-card-title {
  font-weight: 600 !important;
  color: var(--color-link);
  margin-bottom: 0;
}

.sd-card-body .sd-card-text {
  font-size: 14px;
  line-height: 1.5em;
  margin-top: 0.6em;
}

/* Tabs */
.sd-tab-set>label {
  font-weight: 600;
  padding: 1em 0.9em 0.5em;
}

/* pager */
.related-pages .title [class*="tuto-section-"] {
  display: none;
}

.page-info {
  color: var(--color-page-info);
}

.related-pages a:hover .page-info .title {
  text-decoration: none;
}

/* selection */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #0508D9;
}

::selection {
  color: white;
  background: #0508D9;
}

/* github star counter */

.github-stars {
  display: inline-flex;
  align-items: center;

}

.github-stars>a {
  padding: 3px 6px;
  text-decoration: none !important;
  min-height: 21px;
  font-size: 0.9rem;
}

.github-stars .--left {
  background: #e84242;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #e84242;
}

.github-stars .--left:hover {
  background: linear-gradient(-45deg, #c13030, #e25a55);
  border-color: #c13030;
}

.github-stars .--right:hover {
  color: #c13030;
  border-color: #c13030;
}

.github-stars .--right {
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #e84242;
  border: 1px solid #e84242;
  display: flex;
  align-items: center;
}

/* video */
.video-container {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

